<html>
    <head>
    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree Serif">
    </head>
    <body>
        <form action="#">
            <h1>Welcome!</h1>
            <div class="labels">
            <label for ="name">Name</label>
            <input type="text" id="name" name="email" placeholder="Enter name">
            </div>
            <div class="labels">
            <label for ="mob-number">Mobile number</label>
            <input type="tel" id="mob-number" name="mob-number" placeholder="Enter mobile number">
            </div>
            <div class="labels">
            <label for ="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter email">
            </div>
            <div class="labels">
            <label for ="password1">Password</label>
            <input type="password" id="password1" name="password" placeholder="enter Password">
            </div>
            <div class="labels">
            <label for ="password2" >Confirm password</label>
            <input type="password" id="password2" name="password" placeholder="Re-enter your password">
            </div>
            
            <button id="submit">Submit</button>
            <p>Already a member <a href="signin.html">sign in</a> here now!</p> 
        </form>
    </body>
</html>    